# Group By

groupby, bir DataFrame’i belirli bir sütuna göre gruplandırarak her grup için özet istatistikler 
(toplam, ortalama, sayım vb.) üretmeye yarayan bir Pandas fonksiyonudur.

groupby() temel olarak üç aşamada çalışan bir süreçtir:

*Bölme (Splitting): Veri kümesi, bir veya daha fazla sütundaki benzersiz değerlere göre ayrı gruplara ayrılır.

*Uygulama (Applying): Her bir alt gruba (split edilen parçaya) bağımsız olarak bir hesaplama (toplama, ortalama, sayma, standart sapma vb. gibi bir toplama fonksiyonu) uygulanır.

*Birleştirme (Combining): Tüm gruplara uygulanan hesaplamaların sonuçları, nihai bir sonuç nesnesi (genellikle yeni bir DataFrame) halinde birleştirilir.

groupby grupları oluşturur.
agg ise bu gruplar üzerinde ne işlem yapılacağını söyler.


toplam almak → "sum"

ortalama → "mean"

en büyük değer → "max"

en küçük → "min"

sayma → "count"

In [4]:
import pandas as  pd

In [5]:
df = pd.read_csv(
    filepath_or_buffer='Data/imdb.csv'
)

In [9]:
df.columns

Index(['Movie_Title', 'YR_Released', 'Rating', 'Num_Reviews', 'Movie_ID',
       'Record', 'Runtime'],
      dtype='object')

In [ ]:
# Yıllara göre toplam Num_Reviews ler nelerdir?

(
    df.groupby(by='YR_Released')
    .agg(
        {
            'Num_Reviews' : 'sum',
        }
    )
    .query('Num_Reviews >8000000 & Num_Reviews <15000000')
    .sort_values(by='Num_Reviews' , ascending=False)
)

             Num_Reviews
YR_Released
1994            12360599
1999            10961782
1995            10012874
2003             8759224
2010             8043754

In [ ]:
# Yıllara göre toplamda alınan rating ler nelerdir?

(
    df.groupby(by='YR_Released')
    .agg(
        {
            'Rating' : 'sum'
        }
    )
    .sort_values(by='Rating' , ascending=False)
)

In [ ]:
# Ratinglere göre Num_Reviews görüntülenmelerin toplamını gruplayan bir sorgu yazınız.

(
    df.groupby(by='Rating')
    .agg(
        {
            'Num_Reviews' : 'sum'
        }
    )
    .sort_values(by='Num_Reviews' , ascending=False)
)

In [ ]:
# Hangi yıl en yüksek ortalama rating vardır?


# (
#     df.groupby(by='YR_Released')['Rating']
#     .mean()
#     .sort_values(ascending=False)
# ).head(10)


# .agg ile yazmak istersek:

(
    df.groupby(by='YR_Released')
    .agg(
        avg_rating=('Rating', "mean")
        )
        .sort_values(by="avg_rating", ascending=False)
)

             avg_rating
YR_Released
1972           8.800000
1942           8.500000
1936           8.500000
1931           8.466667
1981           8.433333
...                 ...
1961           6.216667
1989           6.116667
1966           5.912500
1965           5.200000
1964           4.880000

[88 rows x 1 columns]

In [17]:
# En çok film hangi yıl  çekilmiş?

(
    df.groupby(by='YR_Released')
    ['Movie_Title']
    .count()
    .sort_values(ascending=False)
    .head(10)
)

YR_Released
2015    39
2014    30
2016    30
2013    28
2007    27
2003    27
2012    26
2004    25
2010    24
2006    23
Name: Movie_Title, dtype: int64